/****************HOME CSS****************/
.home {
  padding: 0 8%;
}

.swiper-button-prev {
  background-color: #12121273;
  width: 50px;
  height: 70px;
  padding: 20px 12px;
  border-radius: 5px;
  left: 0;
  border: 1px solid #fff;
}

.swiper-button-prev::after {
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
}

.swiper-button-prev:hover::after {
  color: #f5c518;
}

.swiper-button-next {
  background-color: #12121273;
  width: 50px;
  height: 70px;
  padding: 20px 12px;
  border-radius: 5px;
  right: 0;
  border: 1px solid #fff;
}

.swiper-button-next::after {
  color: #ffffff;
  font-size: 30px;
  font-weight: bolder;
}

.swiper-button-next:hover::after {
  color: #f5c518;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: auto;
  z-index: 100;
  padding: 10px 10%;
  color: #ffffff;
  background-color: #121212;
}

.header .navbar__wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
}

.header .navbar__wrapper .nav__link {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  padding: 10px 10px;
  border-radius: 5px;
}

.header .navbar__wrapper .nav__link:hover {
  background-color: #2e2e2e;
}

@media screen and (max-width: 1200px) {
  .header .navbar__wrapper .nav__link {
    font-size: 0.7em;
  }
}

.header .navbar__wrapper .btn {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  letter-spacing: 1px;
  border-style: solid;
  border-color: #171c20;
  font-weight: 600;
}

.header .navbar__wrapper .btn:hover {
  background-color: #2e2e2e !important;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .header .navbar__wrapper .btn {
    font-size: 0.7em;
  }
}

/************ Carousel**************/
.carousel {
  margin-top: 20px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: hidden;
}

.carousel .movie__carousel {
  position: relative;
  width: 67%;
}

.carousel .movie__carousel:hover .btn-trailer i {
  border-color: #f5c518;
  background-color: #f5c518;
}

.carousel .link__movie__detail--1 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.carousel .trailer__title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(55%, #000000), color-stop(85%, #000000));
  background-image: linear-gradient(to bottom, transparent, #000000 55%, #000000 85%);
}

.carousel .trailer__title .trailer__info {
  overflow: hidden;
  padding: 0 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.carousel .trailer__title .trailer__info h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carousel .trailer__title .trailer__info p {
  color: #ffffffb3;
  font-weight: 600;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel .movie__trailer {
  position: relative;
  width: 15%;
}

.carousel .movie__trailer .btn-trailer {
  position: absolute;
  left: 10%;
  bottom: 15%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.carousel .movie__trailer .btn-trailer:hover {
  opacity: 0.8;
}

.carousel .movie__trailer .btn-trailer i {
  color: #111111;
  background-color: #fff;
  font-size: 70px;
  border-radius: 100%;
  display: block;
  border: 3px solid #ffffff;
}

.carousel .slider__img {
  display: block;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.carousel .swiper-container {
  width: 100%;
  height: 90%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#111111), to(#000000));
  background-image: linear-gradient(to bottom, #111111, #000000);
}

.carousel .swiper-container .swiper-wrapper {
  height: 100% !important;
  width: 100% !important;
}

.carousel .movieTop {
  position: relative;
  width: 32%;
}

.carousel .movieTop h3 {
  color: #f5c518;
  font-weight: 600;
  font-size: 20px;
}

.carousel .movieTop .slide_movieTop {
  height: 100%;
  padding: 5px 10px;
}

.carousel .movieTop .slide_movieTop .movieTop__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel .movieTop .slide_movieTop .movieTop__content .link__movie__detail--2 {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30%;
  height: 100%;
  cursor: pointer;
}

.carousel .movieTop .slide_movieTop .movieTop__content .movie__trailer2 {
  width: 75%;
  padding-left: 10px;
  color: #fff;
}

.carousel .movieTop .slide_movieTop .movieTop__content .movie__trailer2 .btn-trailer {
  padding: 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
  z-index: 100;
}

.carousel .movieTop .slide_movieTop .movieTop__content .movie__trailer2 .btn-trailer i {
  color: #111111;
  background-color: #fff;
  font-size: 30px;
  border-radius: 100%;
  display: block;
}

.carousel .movieTop .slide_movieTop .movieTop__content .movie__trailer2 .btn-trailer:hover {
  opacity: 0.8;
  border-color: #f5c518;
  cursor: pointer;
}

.carousel .movieTop .slide_movieTop .movieTop__content .movie__trailer2 .btn-trailer:hover i {
  background-color: #f5c518;
}

.carousel .movieTop .slide_movieTop .movieTop__content .movie__trailer2 .link__movie__text {
  display: block;
  color: #fff;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.carousel .movieTop .slide_movieTop .movieTop__content .movie__trailer2 .link__movie__text:hover {
  color: #f5c518;
}

.carousel .movieTop .slide_movieTop .movieTop__content .movie__trailer2 p {
  font-size: 14px;
  color: #ffffffb3;
  margin: 0;
  text-transform: uppercase;
}

.carousel .movieTop .slide_movieTop .movieTop__content .slider2__img {
  display: block;
  width: 30%;
  height: 100%;
}

.ant-modal {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.ant-modal .ant-modal-content .ant-modal-close {
  top: -20px !important;
  right: -20px !important;
}

.ant-modal .ant-modal-content .ant-modal-close .ant-modal-close-x {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 40px;
  border: 2px solid #ffffff;
}

.ant-modal .ant-modal-content .ant-modal-close .ant-modal-close-x svg {
  color: white;
  font-size: 20px;
}

.ant-modal .ant-modal-content .ant-modal-close:hover {
  cursor: pointer !important;
  opacity: 0.5;
}

.ant-modal .ant-modal-content .ant-modal-body {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
}

.ant-modal .ant-modal-content .ant-modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**************** TABS ********************/
.tabs {
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #121212;
}

.tabs .ant-tabs-tab {
  background-color: #f5c518 !important;
  border-color: transparent !important;
  font-size: 20px !important;
}

.tabs .ant-tabs-tab:hover {
  color: #121212;
  opacity: 0.8;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.tabs .ant-tabs-tab:active {
  opacity: 1;
}

.tabs .ant-tabs-tab-active {
  color: #121212 !important;
}

.tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #121212 !important;
  font-weight: 600 !important;
}

.tabs .ant-tabs-tab-btn:active {
  color: #121212 !important;
}

.swiper-container {
  width: 100%;
}

.swiper-container .swiper-wrapper {
  height: 100%;
  width: 100%;
}

.card {
  background-color: #1a1a1a !important;
  color: #fff !important;
  overflow-x: hidden;
}

.card .card__img {
  position: relative;
  width: 100%;
}

.card .card__img .detail__movie {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(25%, rgba(0, 0, 0, 0.45)), color-stop(75%, rgba(0, 0, 0, 0.85)));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.45) 25%, rgba(0, 0, 0, 0.85) 75%);
}

.card .card__img .btn-trailer {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 100%;
}

.card .card__img .btn-trailer:hover {
  opacity: 0.8;
}

.card .card__img .btn-trailer i {
  color: #111111;
  background-color: #f5c518;
  font-size: 70px;
  border-radius: 100%;
  display: block;
  border: 3px solid #f5c518;
}

.card .card__img img {
  display: block;
  width: 100%;
  height: 400px;
}

.card .card__info {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  padding: 0 10px;
}

.card .card__info .card__title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}

.card .card__info .card__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card .card__info .card__rate p {
  font-size: 16px;
  margin: 0;
}

.card .card__info .link__booking {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card .card__info .link__booking .btn__link__booking {
  width: 100%;
  height: 100%;
  background: #f5c518;
  color: #121212;
  visibility: visible;
  font-weight: 600;
  font-size: 20px;
}

.card .card__info .link__booking .btn__link__booking:hover {
  opacity: 0.85;
}

.card:hover {
  cursor: pointer;
}

.card:hover .detail__movie {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.card:hover .btn-trailer {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.card:hover .link__booking {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.card:hover .card__info {
  visibility: hidden;
}

.ant-card-body {
  padding: 0 !important;
}
/*# sourceMappingURL=main.css.map */