.registerForm{
    padding: 100px 400px 350px 200px;
}
@media screen and (max-width:1025px){
    .registerForm{
        padding-right: 300px;
        padding-left: 100px;
    }
}
@media screen and (max-width:769px){
    .registerForm{
        padding-right: 200px;
        padding-left: 100px;
    }
}
@media screen and (max-width:426px){
    .registerForm{
        padding-right: 30px;
        padding-left: 30px;
    }
}