/****************HOME CSS****************/
.home{
  padding: 50px 100px 200px;
  background-color: #000;

  @media screen and (max-width: 1200px){
    padding: 7% 5% 15%;
  }

  @media screen and (max-width: 996px){
    padding: 1%;
  }
}

.swiper-button-prev {
    background-color: #12121273;
    width: 50px;
    height: 70px;
    padding: 20px 12px;
    border-radius: 5px;
    left: 0;
    border: 1px solid #fff;
    &::after {
      color: #ffffff;
      font-size: 30px;
      font-weight: bolder;
    }
    &:hover {
      &::after {
        color: #f5c518;
      }
    }
  }

.swiper-button-next {
    background-color: #12121273;
    width: 50px;
    height: 70px;
    padding: 20px 12px;
    border-radius: 5px;
    right: 0;
    border: 1px solid #fff;
    &::after {
      color: #ffffff;
      font-size: 30px;
      font-weight: bolder;
    }
    &:hover {
      &::after {
        color: #f5c518;
      }
    }
  }