/**************** CINEMA ********************/

.active {
  opacity: 1 !important;
}

.cinema {
  margin-top: 50px;
  background-color: #121212;
  height: 100%;
  overflow: hidden;
  height: 1000px;

  & .ant-space-item {
    & .cinema__logo {
      margin: 0 auto;
      padding: 15px 0;
      position: relative;
      cursor: pointer;
      opacity: 0.5;
      width:50%;
      &::after {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        border: 0.5px solid #ffffffb3;
      }

      &:hover {
        opacity: 1 !important;
        transition: all linear 0.3s;
      }
      
      @media screen and (max-width: 1200px) {
        width: 50%;
      }
    }
  }

  & .cinema__branch {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    opacity: 0.5;
    cursor: pointer;

    & .cinema__branch__img {
      width: 20%;
      height: 100%;
    }

    & .cinema__branch__info {
      width: 80%;
      padding: 0 20px;
      overflow: hidden;

      & h3 {
        color: #ffffff;
      }

      & > p {
        color: #ffffffb3;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      & p:last-child {
        color: red;
      }
    }

    &:hover {
      opacity: 1;
      transition: all linear 0.3s;
    }
  }

  & .swiper-container {
    width: 100% !important;
    height: 940px !important; 

  }

  & .swiper-scrollbar{
    background-color: #ffffff;
    & .swiper-scrollbar-drag{
      background-color:#F5C518;
    }
  }


  @media screen and (max-width: 1200px) {
    height: 1000px;

    & .swiper-container{
      height: 900px !important;
    }
    
    & .cinema__branch{
      & .cinema__branch__info {
        & h3{
          font-size: 16px;
        }

        & > p{
          font-size: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    & .cinema__branch{
      & .cinema__branch__info {
        & h3{
          font-size: 14px;
        }

        & > p{
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    & .cinema__branch{
      & .cinema__branch__info {
        & h3{
          font-size: 14px;
        }

        & > p{
          font-size: 12px;
        }
      }
    }
  }
}
