/*================== HEADER =================== */

.header {
  a:hover {
    color: unset;
  }
  position: sticky;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: auto;
  z-index: 100;
  padding: 10px 7%;
  color: #ffffff;
  background-color: #121212;

  & .navbar__wrapper {
    position: relative;
    z-index: 1;
    width: 100%;

    & .header__logo{
      width:20%;
      border-radius: 100%;
      display: inline-block;
    }

    & .header__img{
      width: 60%; 
      background-color: transparent;
    }

    & .nav__link {
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      display: block;
      padding: 10px 10px;
      border-radius: 5px;
      &:hover {
        background-color: rgba(46, 46, 46, 1);
      }
      @media screen and (max-width: 1200px) {
        font-size: 0.85em;
      }
    }

    & .btn {
      padding: 10px 20px;
      background-color: transparent;
      border-radius: 5px;
      letter-spacing: 1px;
      border-style: solid;
      border-color: #171c20;
      font-weight: 600;
      &:hover {
        background-color: rgba(46, 46, 46, 1) !important;
        cursor: pointer;
      }
      @media screen and (max-width: 1200px) {
        font-size: 0.85em;
      }
    }
  }

  .btn-toggle{
    &:hover{
      background-color: rgba(46, 46, 46, 1) !important;
    }
  }
  
  .menuToggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    color: #ffffff;
    transform: translateX(100%);
  }

  .menuToggle-active{
    display: initial;
    transform: translateX(0);
    transition: all linear 0.3s;
    z-index: 1;
  }

  .dataToggle__item{
    padding: 10px 10px;
    width: 100%;
    display: block;
    color: #ffffff !important;
    font-weight: 600;
    &:hover{
      background-color:rgba(46, 46, 46, 1);
      cursor: pointer;
    }

    &.item--1{
      flex-direction: row;
      justify-content: space-between;
      display: flex;
      & .ant-btn{
        background-color: transparent;
        border: none;

        &:hover{       
          color: #F5C518;         
        }
      }

      & a:hover{
        color: #F5C518;
      }
      &:hover{
        background-color: transparent;
      }
    }
  }
}

