.accountTab {
  margin-top: 50px !important;
  &_Tab1 {
    font-size: 18px;
    min-height: 300px;
  }
  &_Tab2 {
    margin-bottom: 100px !important;
    min-height: 600px;
  }
}
@media screen and (max-width: 426px) {
  .accountTab {
    padding-left: 0;
    padding-right: 0;
    &_Tab1 {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 321px) {
  .accountTab {
    padding: 20px 0 120px;
    &_Tab1 {
      font-size: 12px;
    }
    .ant-table {
      font-size: 10px;
    }
    .ant-tabs-tab {
      font-size: 12px !important;
    }
  }
}
